$white: #fff;
$blue-dark-1: #283c68;
$blue-dark-2: #222e46;
$blue-dark-3: #32436a;
$blue: #5e93fc;
$red: #ff7474;
$green: #b5ebb5;
$green-2: #8eb679;
$gray-blue-light: #f8fafc;
$gray-blue-middle: #f2f7fc;
$gray-blue-dark: #dfe7ef;
$border-light: #d9dfe8;
$border-dark: #b9c2d1;
$gray: #8a96ad;
$icon-blue: #a3b8e3;
$text-sidebar: #dde5ee;